.bottomSheet {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  justify-content: flex-end;
  transition: opacity 0.1s linear;
  background: rgba(0, 0, 0, 0.5);
}

.bottomSheet.show {
  opacity: 1;
  pointer-events: auto;
}

.sheetOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}

.content {
  width: 100%;
  position: relative;
  background: #1a252f;
  max-height: 75vh;
  transform: translateY(100%);
  border-radius: 10px 10px 0 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.03);
  transition: transform 0.3s ease;
  color: #fff;
  cursor: pointer;
}

.bottomSheet.show .content {
  transform: translateY(0);
}

.bottomSheet.dragging .content {
  transition: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 15px;
}

.dragIcon {
  cursor: grab;
  user-select: none;
  padding-bottom: 15px;
}

.dragIcon span {
  height: 5px;
  width: 40px;
  display: block;
  background: #666;
  border-radius: 50px;
}

.header h4 {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

.bsmBody {
  background-color: #1a252f;
  scrollbar-width: none;
  overflow-y: auto;
  max-height: 69vh;
}

.bsmBody::-webkit-scrollbar {
  width: 0;
}

.options {
  display: flex;
  flex-direction: column;
  background: #212d3b;
  border-radius: 8px;
  margin-inline: 20px;
}

.optionLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 10px;
  margin-inline: 15px;
}

.optionLink:not(:last-child) {
  border-bottom: 1px solid #FFF;
}

.optionContent {
  display: flex;
  align-items: center;
  gap: 10px;
}

.optionContent img {
  border-radius: 50%;
}

.subtitle {
  font-size: 0.9rem;
  color: #989898;
  margin-left: 10px;
}

.btn {
  margin-top: 15px;
  padding: 15px 15px 0;
  border-top: 1px solid #333;
}

.checkButton {
  width: 100%;
  border: none;
  height: 45px;
  background: #1DA1F2;
  color: #FFF;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkButton:disabled {
  background-color: #B0C2CF;
}


/* SPINNER STYLING */

.spinner {
  border: 3px solid rgba(255, 255, 255, 0.3);
  /* lighter ring */
  border-top: 3px solid #FFF;
  /* spinner color */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}