/* CONTAINER STYLING */

.head {
    padding: 40px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    transition: all 0.3s ease-in-out;
}

.head>* {
    text-align: center;
}

.head>p {
    color: #8D8D8D;
}

.container {
    background-color: #212D3B;
    transition: all 0.3s ease-in-out;
}

.container .heading {
    padding: 15px;
    color: #5BA4D7;
    font-size: 1rem;
    font-weight: 500;
}


/* CHAT STYLING */

.chat {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
    padding-bottom: 8px;
    margin-inline: 10px;
}

.chat:not(:last-child) {
    border-bottom: 1px solid #444444;
    margin-bottom: 8px;
}

.chat img {
    border-radius: 50%;
}

.chat .title {
    font-size: 1.1rem;
}

.help {
    font-size: 0.9rem;
    color: #8D8D8D;
    padding: 15px 20px 17px;
}


/* INPUT STYLING */

.container>label {
    display: block;
    padding-bottom: 10px;
}

.container .inp {
    margin-inline: 15px;
}

.container input {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: #FFF;
    padding-bottom: 10px;
    border-bottom: 2px solid #5BA4D7;
    margin-bottom: 10px;
}


/* SWITCH STYLING */

.container .switchWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 15px;
    cursor: pointer;
}

.container .switchWrap:hover {
    background-color: #8585853B;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6C7781;
    transition: .4s;
    border-radius: 34px;
}

.switch input {
    display: none;
}

.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    top: -2px;
    background-color: #1D2733;
    border: 3px solid #6C7781;
    transition: .2s;
    border-radius: 50px;
}

.switch:hover .slider {
    background-color: #DDDDDD;
}

.switch:hover .slider::before {
    border-color: #DDDDDD;
}

.switch input:checked+.slider {
    background-color: #63A2D5;
}

.switch input:checked+.slider::before {
    transform: translateX(15px);
    border-color: #63A2D5;
}

.switch input:disabled+.slider {
    background-color: #828385;
}

.switch input:disabled+.slider::before {
    border-color: #828385;
}


/* DYNAMIC INPUT STYLING */

.box {
    padding: 15px 0px;
    margin: 0 15px;
    transition: all 0.3s ease-in-out;
}

.box:not(:last-child) {
    border-bottom: 1px solid #000;
}

.boxHeading {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 7px;
}

.boxHeading.open {
    margin-bottom: 8px;
}

.boxHeading svg {
    transform-origin: center;
    transform: rotate(-90deg);
    transition: .2s;
}

.boxHeading.open svg {
    transform: rotate(0deg);
}

.dInpWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rewardRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rewardIndex {
    font-weight: bold;
    width: 20px;
    text-align: center;
}

.inputWrapper {
    display: flex;
    align-items: center;
    gap: 4px;
    flex: 1;
    animation: fadeSlideIn 0.25s forwards;
}

.inputWrapper .input {
    flex: 1;
    min-width: 0;
    padding: 6px 8px;
    font-size: 1rem;
    overflow-x: auto;
    white-space: nowrap;
}

.removeBtn {
    background: none;
    border: none;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #8D8D8D;
}

.removeBtn svg {
    background: none;
    fill: currentColor;
    width: 20px;
    height: 20px;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* DATE BOX STYLING */

.dateBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 15px;
}

.dateBox span {
    font-size: 1.1rem;
}

.dateBox .date {
    color: #50A7EA;
}


/* BUTTON STYLING */

.container.btn {
    padding: 13px;
}

.button {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 0 15px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: #FFF;
    background-color: #50A7EA;
    cursor: pointer;
    transition: 0.2s;
}

.container .button:disabled {
    background-color: #2175B5;
}


/* SPINNER STYLING */

.spinner {
    border: 3px solid rgba(255, 255, 255, 0.3);
    /* lighter ring */
    border-top: 3px solid #FFF;
    /* spinner color */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
