
:root {
  --background-color: #17212b;
  --text-color: #ffffff;
  --accent-color: #3390ec;
  --secondary-text-color: #aaaaaa;
  --container-background: #202b36;
  --button-color: #3390ec;
}

/* Minimal global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  max-width: 100%;
}

html,
body,
#root {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body>main {
  width: 100vw;
}

a {
  text-decoration: none;
  color: var(--accent-color);
  cursor: pointer;
}

img,
picture,
canvas {
  user-select: none;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #50A7EA; /* Lighter accent on hover */
}
